src="https://www.w3schools.com/<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <%= render "navbar" %>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px; max-height:750px;" id="home">
  <% if @merchant.vertical == "pet" %>
  <img class="w3-image" src="https://cdn.pixabay.com/photo/2020/04/09/09/24/dog-5020587_960_720.jpg" width= 100% height= 100% >
  <% else %>
  <img class="w3-image" src="https://cdn.pixabay.com/photo/2017/03/27/13/53/action-2178873_960_720.jpg"  width= 100% height= 100%>
  <% end %>
  <div class="w3-display-middle w3-margin-top w3-small">

      <div class="jumbotron" id="jumbo">
        <div class="inner">
          <h2>
           <img src="<%= @merchant.logo.html_safe %>" class="w3-image w3-round" style="width:5%;margin:auto;">  <%= @merchant.name %> Classes
          </h2>
          <h4>
            Find the class that is right for you!
          </h4>
          <br>
          <p></p>
          <%= @merchant.class_widget.html_safe %>
        </div>
  </div>
</header>
</body>
</html>
