<p></p>

<div class="container">

<h1>Editing Merchant</h1>

<%= render 'form', merchant: @merchant %>

<%= link_to 'View Merchant Profile', @merchant, class: "btn btn-outline-primary"  %>
<%= link_to 'Back to Merchants', merchants_path, class: "btn btn-outline-primary" %>
</div>
<p></p>
