<p></p>

<div class="container">

<h1>Editing Merchant</h1>

<%= render 'form', merchant: @merchant %>
<hr>
<%= link_to 'Back to Merchant Profile', @merchant, class: "btn btn-outline-primary"  %>
<%= link_to 'Back to Merchant List', merchants_path, class: "btn btn-outline-primary" %>
</div>
<p></p>
