<!DOCTYPE html>
<html>
<title>Events</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
p {text-align: center;}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body>
  <%= render "navbar" %>
<div class= "w3-display-container w3-animate-opacity  w3-text-white w3-content w3-wide" style="max-width:1500px; max-height:750px;" >
  <% if @merchant.vertical == "pet" %>
  <img class="w3-image" src="https://cdn.pixabay.com/photo/2017/04/04/21/12/dog-2203178_960_720.jpg" width= 100% height= 100% >
  <% else %>
  <img class="w3-image" src="https://cdn.pixabay.com/photo/2017/03/27/13/53/action-2178873_960_720.jpg"  width= 100% height= 100%>
  <% end %>
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <%= @merchant.name %>
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">  <%= @merchant.name %> Events</h1>
    <h4 class="w3-large w3-animate-top">Limited availability. Register now to reserve your spot!</h4>
    <p></p>
    <%= @merchant.class_widget.html_safe %>
  </div>
</div>
</body>
</html>
